name: Release

on:
  push:
    branches:
      - master
    paths:
      - VERSION
  workflow_dispatch:

permissions:
  contents: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml  # Reference local workflow

  release:
    needs: ci
    uses: Sokol111/ecommerce-infrastructure/.github/workflows/go-release.yml@master
    secrets:
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
